.footer {
	
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	height: 170px; /* height of the footer */
	background: grey;
	
}
	
.search {
width: 100%;
position: relative;
margin-top:50px;
margin-bottom:30px;
position: absolute;
}


.searchTerm {
	float:left;
	width: 100%;
	border: 3px solid #00B4CC;
	padding: 5px;
	height: 20px;
	border-radius: 5px;
	outline: none;
	color: #9DBFAF;
		
}

.searchTerm:focus{
	color: #00B4CC;
}

.searchButton {
position: absolute;
right: -50px;	
width: 40px;
height: 36px;
border: 1px solid  #00BFCC;
background: black;
text-align: center;
color: #fff;
border-radius: 5px;
cursor: pointer;	
font-size: 20px;
margin-bottom:50px;
margin-left:100px;


}
.wrap{
width: 15%;
position: absolute;
top: 50;
left: 50%;
transform: translate(-50%, -50%); 
}	



#inbox {
margin-bottom: -100px;
margin-right: -100px;
margin-top: -65px;	
margin-left: -390px;
width: 50px;
height: -100px;

}	

#inboxnew {
margin-left: 50px;
float: left;
width: 50px;
height: -50px;

    
}
	

#socialmedia1 {
margin-bottom: 50px;
margin-left: -200px;
float:left;
}	

#socialmedia2 {
    margin-left: -100px;
	margin-top: 100px;
}	

#text {
	margin-top: 30px;
	margin-bottom: 30px;
    margin-left: -100px;
	top: 50px;
	
}

#price {
	margin-top: 250px;
	margin-left: 100px;
    
	}



	