/*colour theme*/

h3.shop-by {
	width: 40%;
	padding-bottom: 10px;
	color: #666666;
	border-bottom: 2px solid #666666;
}

#empty {
	height: 50px;
}

.shop-section .productpics {
	float: left;
	margin-left: 5%;
	width: 45%;
}

.desc {
	margin-left: 0;
}

/*size of the piccy*/
#mainpic {
	width: 55%;
	height: 400px;
}

#mainpic img{
	width: 100%;
	height: 100%;
}

.smallpic {
	float: left;
	width: 15%;
	padding: 10px;
	margin-left: 2%;
}

.smallpic img {
	width: 100%;
}

.smallpic:hover {
	cursor: pointer;
}





/*code for the quantity and add to basket button */
.qtydrp {
	float: left;
	margin-top: 5%;
	margin-left: 0;
}

#qty  {
	width: 100px;
	padding: 10px 15px;
	border-radius: 4px;
	border: 1px solid gray;
}

#qty option {
	text-align: center;
	padding: 5px;
}

.add {
	display: inline-block;
	margin-top: 5%;
	margin-left: 0;
	height: 40px;
	width: 200px;
	padding-bottom: 5px;
	border-radius: 4px;
	font-size: 17px;
	font-family: arial black;
}

.add:hover {
	cursor: pointer;
	background-color: #ff3333;
	color: white;
}



/* coding for the desription */
.desc {
	float: left;
	overflow: hidden;
	width: 40%;
}

.desc p {
	text-align: left;
	font-weight: 10;
	cursor: default;
}

#JessieJ {
	font-size: 150%;
	font-weight: bold;
}

/* CSS code for the modal when Add to Basket buton is clicked*/
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.5);
}

.modal-cont {
	position: relative;
	background-color: #f2f2f2;
	margin: auto;
	padding: 10px;
	width: 50%;
	border: 3px solid #999999;
	border-radius: 4px;
	-webkit-animation-name: topanime;
	-webkit-animation-duration: 0.3s;
	animation-name: topanime;
	animation-duration: 0.3s;
}

@-webkit-keyframes topanime {
	from {
		top: -300;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes topanime {
	from {
		top: -300;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.close {
	float: right;
	color: #999999;
	font-size: 20px;
}

.close:hover, .close:focus {
	color: #ff3333;
	text-decoration: none;
	cursor: pointer;
}

.modal-head {
	padding: 15px;
}

.modal-bod {
	padding: 15px;
	background-color: #ff3333;
}

.modal p {
	text-align: center;
	color: white;
}





/* code for the star review */
.star-review {
	width: 60%;
	margin-left: 10%;
}

.hed {
	font-size: 25px;
	margin-right: 25px;
}

.fa {
	font-size: 25px;
}

.checked {
	color: orange;
}

/*three columns*/
.side {
	float: left;
	width: 15%;
	margin-top: 15px;
}

.middle {
	margin-top: 10px;
	float: left;
	width: 70%;
}

/* text on right */
.right {
	text-align: right;
}

/* clear floats after columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* the bar container */
.bar-container {
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
	color: white;
}

/* individual bars */
.bar-5 {
	width: 10%;
	height: 18px;
	background-color: blue;
}

.bar-4 {
	width: 0;
	height: 18px;
	background-color: blue;
}

.bar-3 {
	width: 10%;
	height: 18px;
	background-color: blue;
}

.bar-2 {
	width: 0;
	height: 18px;
	background-color: blue;
}

.bar-1 {
	width: 80%;
	height: 18px;
	background-color: blue;
}

/* rsponsiveness */
@media (max-width: 800px) {
	.side, .middle {
		width: 100%
	}
	.right {
		display: none;
	}
}

/* code for the user reviews */
.userviews {
	margin-top: 100px;
}

.user {
	margin: 20px 0;
	padding: 20px;
	border-top: 5px solid #f2f2f2;
}

.user .rev {
	font-weight: bold;
	font-size: 14px;
}

.user .userdesc {
	font-size: 14px;
}

.user .mini {
	font-size: 11px;
}